/* FOTOS */
.picture1 img{
    height: auto;
    width: 70%;
    margin-top: 40%;
    margin-left: 15%;
  }

.picture2 img{
    height: auto;
    width: 60%;
    margin-top: 40%;
    margin-left: 15%;
  }

.picture3 img{
    height: auto;
    width: 70%;
    margin-top: 40%;
    margin-left: 15%;
  }

  .picturegraf1 img{
    height: auto;
    width: 60%;
    margin-top: 40%;
    margin-left: 15%;
  }

  .picturegraf2 img{
    height: auto;
    width: 60%;
    margin-top: 0%;
    margin-left: 15%;
  }

  .pictureinfo img{
    height: auto;
    width: 55%;
    margin-top: 5%;
    margin-left: 15%;
  }

  .brand1 img{
    height: auto;
    width: 50%;
    margin-top: 11%;
    margin-left: 15%;
  }

  .brand2 img{
    height: auto;
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .brand3 img{
    height: auto;
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .brand4 img{
    height: auto;
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .brand5 img{
    height: auto;
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
  }

  .picturedetectie1 img{
    height: auto;
    width: 70%;
    margin-top: 30%;
    margin-left: 15%;
  }

  .picturedetectie2 img{
    height: auto;
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
  }